includes:
    - phpstan-baseline.neon
parameters:
    level: 3
    paths:
        - src/
        - tests/unit
    inferPrivatePropertyTypeFromConstructor: true
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#\:\:centroid\(\) should return geoPHP\\Geometry\\Point but returns geoPHP\\Geometry\\Geometry\|null.$#'